body{
  margin: 0
}

.box1{
  width: 200px;
  height: 200px;

  position: absolute;;
  background-color: #666;

}

.box2{
  width: 200px;
  height: 400px;
  margin: auto;
  position: absolute;
  background-color: red;
  top: 200px;
  left: 20px;
}


.box11{
  width: 60px;
  height:60px;
  position: relative;
  background-color: yellow;

}
